<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigitMemory"
        tools:targetApi="31">
        <activity
            android:name=".DMmenu"
            android:exported="true">
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="MainActivity" />

        <activity
            android:name=".GameOver"
            android:label="GameOver"
            android:exported="true"/>

        <activity
            android:name=".StatsActivity"
            android:label="Stats"
            android:exported="true"/>

        <activity
            android:name=".LogIn"
            android:label="Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>